
<!--##DATA-->
<div class="row">

    <h2  class="btn btn-primary" >Independent Reading Class Report</h2>

    <div></div>

    <div>
        <button class="btn btn-success btn-spacing" ng-click="sendPost('irc')">Print</button>
        <div>.</div>
        <div>.</div>
        <a ng-if = "pdfAvailable" ng-href="http://localhost:3000/getPDF">Download PDF</a>
        <div>.</div>
        <div>.</div>
        <button class="btn btn-success btn-spacing" ng-click="goToNamedState('home')">Go back</button>
        <!--<button ng-disabled = "!pdfAvailable" class="btn btn-success btn-spacing" ng-click="getPDF()">Get PDF</button>-->


    </div>

    <div></div>
    <div class="container">
        <h2>Title</h2>
    </div>

    <div></div>
    <div class="container">
        <h2>Summary</h2>
    </div>

    <div>.....</div>

    FileName: {{fileName}}
</div>